@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
    @font-face {
        font-family: "alqalam";
        src: url("/webfonts/alqalam/AlQalamQuranMajeedWeb2.woff") format("woff");
    }
    @font-face {
        font-family: "indopak";
        src: url("/webfonts/indopak/IndoPak.woff2") format("woff2");
    }
}
